* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 20%;
  display: block;
  margin: 0 auto;
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #000;
}

nav li a:hover {
  color: #d37fa1;
  text-decoration: underline;
}

main a {
  background-color: #d37fa1;
  color: #fff;
  padding: 3em;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  margin: 1em 1em;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
