* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 1.5em 0;
  background-color: #d37fa1;
}

header img {
  max-width: 20%;
  display: block;
  margin: 0 auto;
}

header img:hover {
  transform: scale(110%);
}

ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

nav li a:hover {
  color: #ffdcea;
  text-decoration: underline;
}

.categories {
  background-color: #d37fa1;
  color: #fff;
  padding: 3em;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  margin: 1em 1em;
}

.categories:hover {
  background-color: #f2a2c2;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero {
  width: 100%;
  margin: 0 0 2em 0;
  grid-area: 1/1;
}

.logo {
  grid-area: 1/1;
  margin: auto;
  display: block;
  max-width: 40%;
  background-color: rgba(255, 255, 255, 0.706);
  padding: 2em;
  border-radius: 20px;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

h2 {
  margin: 0 1.5em;
}

.apparel {
  margin: 1em 1.5em;
}

footer p {
  margin: 1em;
}

.grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

div img {
  max-width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: block;
  margin: 0 auto 1em auto;
}

.card {
  border: 2px solid #d37fa1;
  border-radius: 20px;
  margin: 0 1em;
  padding-bottom: 1em;
}

.card a {
  color: #a86580;
  margin: 0 1em;
}

.card a:hover {
  color: #f2a2c2;
}

.card h3 {
  margin: 0.4em 0.8em;
}

.grey {
  color: rgba(68, 67, 67, 0.349);
  margin: 0 1em;
}

.card p {
  margin: 0.3em 1em;
}

.card img {
  grid-area: 1 / 1;
}

.sold {
  grid-area: 1 / 1;
  text-align: center;
  color: #fff;
  background-color: #d37fa1;
  padding: 1em 0;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.discount {
  background-color: #d37fa1;
  color: #fff;
  text-align: center;
  max-width: 30%;
  max-height: 30%;
  padding: 0.5em;
}
